.container {
  width: 70%;
  margin: auto;
  text-align: center;
  
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 20%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
a{
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;

}
@media screen and (max-width: 480px) {
    
  h1{
    font-size: 1.9rem;
  }

  img{
    width: 40%;
  }

  a{
    font-size: 1rem;
  }

  p{
    font-size: 1.4rem;
  }
  footer{
    margin-top: 100px;
  }

  .container{
    margin-top: 10rem;
  }
  }

  @media screen and (min-width: 480px) and (max-width: 768px) {
    /* styles for tablets/iPads */
    
    h1{
      float: left;
      font-size: 4rem;
    }
  
    img{
      width: 50%;
    }
  
    a{
      font-size: 1.1rem;
    }
  
    p{
      font-size: 1.8rem;
    }
    footer{
      margin-top: 100px;
    }
  
  }
